<div>
    <mat-card style="text-align: center;">
    <hr>
    <hr>
      <h4 style="display: inline-block;" >Do you want to add this person?</h4>
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 button-container">
          <div class="text-right">
            <button type="button" id="submit" name="submit" class="btn btn-secondary"
              (click)="onCloseClick()">Cancel</button>
            <button type="button" id="submit" name="submit" class="btn btn-primary"
              >Add</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  